.storage_detail_list {width: 1100px; text-align: left; margin:0 auto; padding: 20px 0px; 
}


.storage_detail_item{
    text-decoration: none; font-family: 'Noto Sans KR'; color: #333;
}
.storage_detail_detail{width: 180px; display: inline-block; text-align-last: left; margin-left: 15px;}

.storage_detail_txt {display: inline-block;}

.storage_detail_item .storage_detail_img {
width: 175px; height: 175px; background-size: auto 100%; background-position: center;
background-repeat: no-repeat; position: relative; display: inline-block; border-radius: 10px;
}

.change_storage_name > i {cursor: pointer;}