
.book_recommend_area{
    width: 990px; margin: 0 auto; padding-top: 150px;
}
.book_recommend_area > h1 {
    text-align: center; margin-bottom: 50px; font-family: 'Noto Sans KR'; font-size: 22px; font-weight: 700;
}

.main_banner {
    width: 500px; margin: 0 auto; height: 500px;
}
.main_banner .swiper-button-prev {
    left: 0px; filter:grayscale(1) brightness(10) drop-shadow(2px 2px 5px rgba(0,0,0,0.3));
}
.main_banner .swiper-button-next {
    right: 0px; filter:grayscale(1) brightness(10) drop-shadow(2px 2px 5px rgba(0,0,0,0.3));
}
.book_recommend_img_area{
    margin: 0 auto;
    width: 300px; height: 400px; background-position: center; background-size: 100% auto; background-repeat: no-repeat;
}
.book_function_area{position: relative; width: 60px;}
.subscribe > i {
    position: relative; right: 0; top: 0;
    font-size: 22px; color: rgb(252, 53, 53); z-index: 9; cursor: pointer;
}

.book_summary_list_wrap{
    width: 1000px; height: 500px; background-color: #fff; margin: 0 auto; margin-top: 200px;
}

.books_summary_list {width: 990px; text-align: left; margin:0 auto; padding: 20px 0px; 
}
.book_summary_area{display: inline-block;}


.books_summary_item{
    text-decoration: none; font-family: 'Noto Sans KR'; color: #333;
}
.books_summary_detail{width: 180px; display: inline-block; text-align-last: left; margin-left: 15px;} 

.books_summary_txt {display: inline-block;}


.books_summary_detail .books_summary_img {
width: 175px; height: 175px; background-size: auto 100%; background-position: center;
background-repeat: no-repeat; display: inline-block; border-radius: 10px;
}